{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-console": "warn",
        "linebreak-style": "off",
        "quotes": "off",
        "max-len": [
            "error",
            {
                "ignoreComments": true,
                "ignoreUrls": true,
                "ignoreRegExpLiterals": true
            }
        ]
    },
    "extends": "airbnb"
}
